<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FitAF</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>

  <body class="bg-gray-800">

    <div class="bg-gray-600 pb-3 pt-10 header">
        <h1 class="text-3xl text-yellow-300 mt-10 ml-10">{{pageTitle}}</h1> 

        <div class="navbar">
            <a href="/"><p class="link">Home</p></a>
            <a href="/login"><p class="link">Login</p></a>
            <a href="/cart"><p class="link">Cart</p></a>
            <a href="/recipesearch"><p class="link">Recipe Search</p></a>
        </div>

      </div>

    {{{body}}} <!-- This is where the content of other templates will be injected -->

</body>
</html>
