<main>

<div class="dashboard">
  <div class="weekly-info">
    <button class="prev-day">Previous Day</button>
    <div class="exercise-info">
    <h2>This week's Exercises</h2>
    {{#each exercises}}
    <p>{{this.day}}: {{this.exercise_details}}</p>
    {{/each}}
</div>
    <button class="change-exercise=plan">Change Exercise Plan</button>
  </div>
  <div class="diet-info">
    <div class="diet-info">
    <h2>This week's Meals</h2>
    {{#each nutrition.meals}}
    <p>{{this.day}}: {{this.meal_details}}</p>
    {{/each}}
</div>
  <button class="change-diet-plan">Change Diet Plan</button>
</div>

</main>
