   <main>


        <h2 class="text-slate-300 text-xl ml-10 py-5"> What do you want to do? </h2>

        <div>
        <h2 class="text-slate-300 inline-block ml-10 text-lg">Find meals?</h2>
        <h2 class="text-slate-300 inline-block ml-10 text-lg">Make a Grocery List?</h2>
        </div>
        <button class="border-2 rounded bg-slate-300 hover:bg-slate-500 ml-10 px-3" type="button">Find meals</button>
        
        
        <button class="border-2 rounded bg-slate-300 hover:bg-slate-500 ml-10 px-3" type="button">Make a list</button>
        


    
</main>